.Device_container {
    display: flex;
    position: relative;
    flex-direction: row;
}

.Device {
    width: 511px;
    line-height: 1010px;
    background-color: #2B2B2B;
    overflow: hidden;
}

.Device_header {
    position: relative;    
    line-height: 30px;
    height: 30px;
    background-color: #3C3F41;
    border: 1px solid #383A3B;
}

.minimize_icon {
    position: absolute;
    float: right;
    right: 14px;
    top: 5px;
    cursor: pointer;
}

.setting_icon {
    @extend .minimize_icon;
    right: 45.83px;
    cursor: default;
}

.Device_splitter {
    left: 0;
    width: 10px;
    height: 1040px;
    right: 100%;
    background-color: #3C3F41;
    cursor: e-resize;
}