/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.Locator__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    position: absolute;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
        -moz-flex-direction: row;
            flex-direction: row;
            overflow: hidden;
    right: 20px;
    height: 100%;
}

.Locator {
    width: 511px;
    line-height: 810px;
    background-color: #2B2B2B;
    overflow: hidden;
}

.Locator__header {
    position: relative;    
    line-height: 28px;
    height: 28px;
    background-color: #3C3F41;
    border: 1px solid #383A3B;
}

.minimize_icon {
    position: absolute;
    float: right;
    right: 14px;
    top: 3px;
    cursor: pointer;
}

.setting_icon {
    @extend .minimize_icon;
    right: 45.83px;
    cursor: default;
}

.Locator__splitter {
    left: 0;
    width: 10px;
    height: auto;
    right: 100%;
    background-color: #3C3F41;
    cursor: e-resize;
}