.Project {
    width: 542px;
    line-height: 1010px;
    background-color: #2B2B2B;
}

.Project_header {
    position: relative;    
    line-height: 30px;
    height: 30px;
    background-color: #3C3F41;
    border: 1px solid #383A3B;
}

.minimize_icon {
    position: absolute;
    float: right;
    right: 14px;
    top: 5px;
    cursor: pointer;
}

.setting_icon {
    position: absolute;
    right: 45.83px;
    top: 5px;
    float: right;
}