.titlebar {
  background-color: #3C3F41;
  border: 1px solid #383A3B;
  height: 40px;
}

.logo {
  margin-left: 4px;
}


.App__contents {
  display: flex;
  width: 100%;
  height: 1040px;
  font-family: 'Roboto', sans-serif;
  color: #B3B3B3;
  background-color: #2B2B2B;
  justify-content: space-between;
  text-align: center;
}

.Project_Panel {
  display: flex;
  width: 542x;
  height: 1040px;
  font-weight: bold;
}

.splitter {
  width: 10px;
  cursor: w-resize;
  background-color: #3C3F41;
}

.Device_Panel {
  display: flex;
  width: 521px;
  height: 1040px;
  font-weight: bold;
}

.Locator_Panel {
  display: flex;
  width: 521px;
  height: 1040px;
  font-weight: bold;
}

.App__empty {
  width: 100%;
  height: 1040px;
  font-family: 'Roboto', sans-serif;
  line-height: 1072px;
  font-weight: bold;
}

.App__left_tab {
  list-style: none;
  writing-mode: vertical-rl;
  width: 20px;
  background-color: #3C3F41;
  color: #B3B3B3;
  font-size: 15px;
  font-weight: 700;
}

.folder_icon {
  transform: rotate(180deg);
}

.App__left_tab li {
  background-color: #3C3F41;
  width: 20px;
  height: 130px;
  text-align: center;
  line-height: -36px;
  transform: rotate(-180deg);
  cursor: pointer;
}

.project_icon {
  transform: rotate(90deg);
}

.App__right_tab {
  list-style: none;
  writing-mode: vertical-rl;
  background-color: #3C3F41;
  display: flex;
  width: 20px;
  flex-direction: row;
  color: #B3B3B3;
  font-weight: 700;
}

.App__right_tab li {
  background-color: #3C3F41;
  width: 20px;
  height: 130px;
  text-align: center;
  cursor: pointer;
}
